div#Album-Title
    h1 Albums   
    a(href="/albums/new") New album
    p
    table(border="1px solid")
        thead
            tr
                th Artist
                th Title
                th Genre
        for album in albums
            tr           
                td #{album.Artist}
                td #{album.Album}
                td #{album.Genre}               
