div#Album-Title
    h1 Albums   
    a(href="/albums/new") New album
    p
    table(border="1px solid")
        thead
            tr
                th Genre
                th Artist
                th Album                
        for album in albums
            tr           
                td #{album.Genre}
                td #{album.Artist}
                td 
                    a(href="/albums/#{album._id}") #{album.Album}
                              
