include ../../mixins/form-helpers
div#new-album-title
form(name='edit-album' method='POST' action='/albums/#{album._id}?_method=PUT')
	h1 Edit Album:
	p
	label(for='Artist') Artist &nbsp;&nbsp;
	input(type='text' name='Artist' value="#{album.Artist}")
	p
	label(for='Album') Album &nbsp;&nbsp;
	input(type='text' name='Album' value="#{album.Album}")
	p
	label(for='Genre') Genre &nbsp;&nbsp;
	+SelectCreator('Genre',['Rock','Alternative','Jazz','Classical','Folk','Disco'],'Rock')
	p
	label(for='Stars') Stars &nbsp;&nbsp;
	p
		label 1
			+RadioButtonCreator('albumStars',['1','2','3','4','5'])
		&nbsp;
		label 5
	p
	input(type='checkbox',name='explicit_contain',checked=(condition))
	&nbsp;&nbsp;
	label(for='contains_explicit_lyrics') Contains Explicit Lyrics &nbsp;&nbsp;  
	p
	input(type='submit' value='Update Album')
	&nbsp;&nbsp;
	a(href='/albums/#{album._id}') cancel