include ../../mixins/form-helpers
div#new-album-title
form(name='new-album' method='POST' action='/albums')
    h1 Create Album!  
    p
    label(for='Artist') Artist &nbsp;&nbsp;
    input(type='text' name='Artist')
    p
    label(for='Album') Album &nbsp;&nbsp;
    input(type='text' name='Album')
    p
    label(for='Genre') Genre &nbsp;&nbsp;
    +SelectCreator('Genre',['Rock','Alternative','Jazz','Classical','Folk','Disco'])
    p
    label(for='Stars') Stars &nbsp;&nbsp;
    p
        label 1
         +RadioButtonCreator('albumStars',['1','2','3','4','5'])
        &nbsp;
        label 5
    p
    input(type='checkbox',name='explicit_contain',checked=(condition))
    &nbsp;&nbsp;
    label(for='contains_explicit_lyrics') Contains Explicit Lyrics &nbsp;&nbsp;
    p
    input(type='submit' value='Create Album')
    &nbsp;&nbsp;
    a(href='/albums') Cancel

